@media (max-width: 1280px) {
    /* NAV CONFIGS FOR MOBILE - RESPONSIVE ADJUST*/
    .react_logo{
        display: none !important;
    }
    #nav--infos{
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .nav--dropdown{
        &:hover div{
            width: fit-content;
            display: flex !important;
            justify-content: left;
            align-items: left;
            margin: 0;
            padding: 7px;
        }
        &:hover img.darkbtn{
            filter: brightness(200%);
        }
        &:hover img.lightbtn{
            filter: brightness(70%) hue-rotate(45deg);
        }
    }
    #nav--menuBtn{
        display: flex !important;
        width: 40px;
        cursor: pointer;
    }

    /* MAIN CONFIGS FOR MOBILE - RESPONSIVE ADJUST */
    .main--div{
        flex-direction: column;
        align-items: center;
    }
    .main--firstColumn, .main--secondColumn, .main--thirdColumn {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }

    #projects{
        div{
            display: block;
        }
    }
}