/* GENERAL CONFIGS */
:root{
    --color_lightblue: #61DAFB;
    --color_darkblue: #0f48dc;
    --color_backgroundWite: #ffffff;
    --color_secondaryBlack: #2B283A;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
body {
    margin: 0;
    font-family: Inter, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.display_none{
    display: none;
}
/* MOBILE CONFIGS */
@media (max-width: 1280px) {
    /* NAV CONFIGS FOR MOBILE - RESPONSIVE ADJUST*/
    .nav--react_logo{
        display: none !important;
    }
    #nav--infos{
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .nav--dropdown:hover div{
        width: fit-content;
        display: flex !important;
        justify-content: left;
        align-items: left;
        margin: 0;
        padding: 7px;
    }
    .nav--dropdown:hover img.darkbtn{
        filter: brightness(200%);
    }
    .nav--dropdown:hover img.lightbtn{
        filter: brightness(70%) hue-rotate(45deg);
    }

    #nav--menuBtn{
        display: flex !important;
        width: 40px;
        cursor: pointer;
    }

    /* MAIN CONFIGS FOR MOBILE - RESPONSIVE ADJUST */
    .main--div{
        flex-direction: column;
        align-items: center;
    }
    .main--firstColumn, .main--secondColumn, .main--thirdColumn {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
}

/* NAV styles */
nav {
    position: relative;
    align-items: center;
    background-color: var(--color_backgroundWhite);
    padding: 10px 20px;
    height: 60px;
    min-width: 200px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: .5s;
    white-space: nowrap;
    user-select: none;
}
nav.dark {
    background-color: #21222A;
    color: var(--color_lightblue);
}
.nav--containner{
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    top: -90px;
    animation: nav--slider 0.8s forwards;
    animation-delay: 0.2s;
}
@keyframes nav--slider {
    100% { top: 0; }
}

.nav--react_logo{
    display: flex;
    align-items: center;
}
.nav--infos{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.nav--infos div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
.nav--infos div.dark:hover{
    filter: brightness(200%);
    transition: .5s;
}
#nav--menuBtn{
    display: none;
}

nav img{
    width: 30px;
    margin-right: 5px;
    filter: brightness(0);
    transition: .3s;
}
nav img.dark, img.darkbtn{
    filter: brightness(1);
    transition: .3s;
}
div.light:hover{
    color: var(--color_darkBlue);
    transition: .3s;
}
div.light:hover img.light{
    filter: brightness(70%) hue-rotate(45deg);
}


/* NAV TOGGLER */
.toggler {
    display: flex;
    align-items: center;
    user-select: none;
    margin-left: 10px;
}
.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}
.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: var(--color_secondaryBlack);
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}
nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}
.toggler--slider--circle {
    transition: .5s;
    transform: translateX(0px);
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
nav.dark .toggler--slider--circle {
    transition: .5s;
    transform: translateX(12px);
    background-color: black;
}
.toggler--light {
    color: var(--color_secondaryBlack);
}
nav.dark .toggler--light {
    color: #918E9B;
}
.toggler--dark {
    color: #D5D4D8;
}
nav.dark .toggler-dark {
    color: var(--color_backgroundWhite);
}

/* MAIN styles */
main {
    padding: 20px 50px;
    min-width: 200px;
    background-image: url("./img/react-icon-light.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: clamp(10vw, 30vw, 480px) auto;
    flex: 1 1 auto;
    background-color: white;
    color: var(--color_secondaryBlack);
    transition: .5s;
}
main.dark {
    background-image: url("./img/react-icon-dark.png"); 
    background-color: #282D35;
    color: #dddddd;
}

.main--div{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    height: fit-content;
    transform: translateX(0px);
    transition: 1s;
}
.main--titles {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.03em;
}

/* MAIN FIRST COLUMN */
.main--firstColumn {
    min-width: 400px;
    max-width: 400px;
    text-align: justify;
    text-indent: 20px;
    margin-right: 15px;
    padding: 0px 20px;

    animation: 2s fadeIn;
    animation-fill-mode: forwards;
}
.main--profilepics{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    gap: 20px;
    size: 150px;
    height: 250px;
}
.main--first-img{  
    border-radius: 10%;
}
.main--about-me{
    line-height: 1.6em;
}

/* MAIN SECOND COLUMN */
.main--secondColumn {
    min-width: 400px;
    max-width: 600px;
    margin-right: 15px;
    padding: 0px 20px;

    animation: 4s fadeIn;
    animation-fill-mode: forwards;
}

/* MAIN THIRD COLUMN */
.main--thirdColumn {
    min-width: 400px;
    max-width: 600px;
    padding: 0px 20px;

    animation: 6s fadeIn;
    animation-fill-mode: forwards;
}

/* UNORDERED LISTS */
ul {
    text-align: justify;
    letter-spacing: 0.03em;
    min-width: 200px;
    max-width: 400px;
    font-weight: 600;
}
ul > li {
    line-height: 19px;
    padding-block: 10px;
}
ul > li::marker {
    font-size: 1.4rem;
    color: var(--color_darkBlue);
}
ul.dark > li::marker{
    color: var(--color_lightblue);
}
.space {
    margin-bottom: 8px;
}

/* FADE-IN WHEN CALLED*/
@keyframes fadeIn {
    from { 
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    to { 
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

/* SLIDE THE MAIN PAGE TO OPEN CONTACTS */
#slider{
    transition: 2s;
    transform: translateX(-150%);
}

/* CONTACTS ALTERNATIVE PAGE */
#contacts{
    position: absolute;
    flex-direction: column;
    text-align: center;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#contacts h1:hover{
    color: var(--color_lightblue)
}

.fadeInContacts{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
}
.fadeOutContacts{
    animation: 0.5s fadeOutContacts;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadeOutContacts {
    from {
        opacity: 1;
        display: flex;
    }
    to{
        opacity: 0;
        display: none;
    }
}

#unlinked--contacts{
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}
#unlinked--contacts:hover::after{
    content: "Click to copy";
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}