@import "./partials/variables.scss";

/* SLIDE THE MAIN PAGE TO OPEN CONTACTS */
#slider{
    transition: 2s;
    transform: translateX(-150%);
}

/* CONTACTS ALTERNATIVE PAGE */
#contacts{
    color: $color-white;
    position: absolute;
    flex-direction: column;
    text-align: center;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    h1{
        font-size: 30px;
        cursor: pointer;
        user-select: none;
        padding: 10px;
    
        &:hover{
            color: $color-lightblue;
            
            &:after{
                content: "Click to copy";
                display: block;
                justify-content: center;
                text-align: center;
                font-size: 15px;
            }
        }
    }
}

.fadeInContacts{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
}
.fadeOutContacts{
    animation: 0.5s fadeOutContacts;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadeOutContacts {
    from {
        opacity: 1;
        display: flex;
    }
    to{
        opacity: 0;
        display: none;
    }
}