@import "./partials/variables.scss";
@import "./partials/effects.scss";

main {
    padding: 20px 50px;
    min-width: 200px;
    background-image: url("/src/img/react-icon-light.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: clamp(10vw, 30vw, 480px) auto;
    flex: 1 1 auto;
    background-color: $color-white;
    color: $color-black;
    transition: .5s;

    ul {
        text-align: justify;
        letter-spacing: 0.03em;
        min-width: 200px;
        max-width: 400px;
        font-weight: 600;
    }
    ul > li {
        line-height: 19px;
        padding-block: 10px;
    }
    ul > li::marker {
        font-size: 1.4rem;
        color: $color-darkblue;
    }
    ul.dark > li::marker{
        color: $color-lightblue;
    }
    .space {
        margin-bottom: 8px;
    }
}

main.dark {
    background-image: url("/src/img/react-icon-dark.png"); 
    background-color: $color-black;
    color: $color-white;
}

.main--div{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    height: fit-content;
    transform: translateX(0px);
    transition: 1s;
}
.main--titles {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.03em;
}

/* MAIN FIRST COLUMN */
.main--firstColumn {
    min-width: 400px;
    max-width: 400px;
    text-align: justify;
    text-indent: 20px;
    margin-right: 15px;
    padding: 0px 20px;

    animation: 2s fadeIn;
    animation-fill-mode: forwards;

    .profilepics{
        display: flex;
        justify-content: center;
        margin: 25px 0px;
        gap: 20px;
        size: 150px;
        height: 250px;
    }
    img{  
        border-radius: 10%;
    }
}

.main--about-me{
    line-height: 1.6em;
}

/* MAIN SECOND COLUMN */
.main--secondColumn {
    min-width: 400px;
    max-width: 600px;
    margin-right: 15px;
    padding: 0px 20px;

    animation: 4s fadeIn;
    animation-fill-mode: forwards;

    span{
        cursor: pointer;
        text-decoration: underline;
    }
}

/* MAIN THIRD COLUMN */
.main--thirdColumn {
    min-width: 400px;
    max-width: 600px;
    padding: 0px 20px;

    animation: 6s fadeIn;
    animation-fill-mode: forwards;
}