@import "./partials/variables.scss";

nav {
    position: relative;
    align-items: center;
    background-color: $color-white;
    padding: 10px 20px;
    height: 60px;
    min-width: 200px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: .5s;
    white-space: nowrap;
    user-select: none;

    img{
        width: 30px;
        margin-right: 5px;
        filter: brightness(0);
        transition: .3s;
    }

    img.dark, img.darkbtn{
        filter: brightness(1);
        transition: .3s;
    }
}
nav.dark{
    background-color: $color-secondaryBlack;
    color: $color-lightblue;
}

.nav--containner{
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    top: -90px;
    animation: nav--slider 0.8s forwards;
    animation-delay: 0.2s;
}
.react_logo{
    display: flex;
    align-items: center;
}
@keyframes nav--slider {
    100% { top: 0; }
}


.nav--infos{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 500px;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        cursor: pointer;
    }
    div.dark:hover{
        filter: brightness(200%);
        transition: .5s;
    }
    div.light:hover{
        color: $color-darkblue;
        transition: .3s;
        img.light{
            filter: brightness(70%) hue-rotate(45deg);
        }
    }
}
#nav--menuBtn{
    display: none;
}

/* NAV TOGGLER */
.toggler {
    display: flex;
    align-items: center;
    user-select: none;
    margin-left: 10px;
    p{
        font-size: 0.625rem;
        font-weight: 600;
    }
}
.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: $color-black;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}
nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}
.toggler--slider--circle {
    transition: .5s;
    transform: translateX(0px);
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
nav.dark .toggler--slider--circle {
    transition: .5s;
    transform: translateX(12px);
    background-color: black;
}
.toggler--light {
    color: $color-black;
}
nav.dark .toggler--light {
    color: #918E9B;
}
.toggler--dark {
    color: #D5D4D8;
}
nav.dark .toggler-dark {
    color: $color-white;
}